server {
    listen 80;
    server_name cobaltdata.net www.cobaltdata.net;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    # Serve the landing page separately at /landing
    location /landing {
        root /usr/share/nginx/html/landing;
        index index.html;
        try_files $uri /index.html;
    }

    # Include additional configuration files
    include /etc/nginx/extra-conf.d/*.conf;
}
